### importing libraries

In [1]:
import numpy as np 
import pandas as pd
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt 
import matplotlib.cbook as mcb
import warnings
warnings.filterwarnings('ignore')

### Loading Dataset

In [2]:
df=pd.read_csv(r'C:\Users\Hp\Downloads\heart.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

### Data-Preprocessing

In [3]:
df.shape

(1025, 14)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [5]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [6]:
df.tail(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1015,58,1,0,128,216,0,0,131,1,2.2,1,3,3,0
1016,65,1,3,138,282,1,0,174,0,1.4,1,1,2,0
1017,53,1,0,123,282,0,1,95,1,2.0,1,2,3,0
1018,41,1,0,110,172,0,0,158,0,0.0,2,0,3,0
1019,47,1,0,112,204,0,1,143,0,0.1,2,0,2,1
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

### spliting data into two parts

#### train_test_split

In [7]:
x=df.iloc[:,0:-1]
y=df.iloc[:,-1]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

# Applying algorithms

### KNN                             ------- K Nearest Neighbors

In [9]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()

In [10]:
knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)

In [11]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(y_pred,y_test)

In [12]:
ac

0.7219512195121951

In [13]:
from sklearn.metrics import classification_report

cr=classification_report(y_test,y_pred)

In [14]:
print(cr)

              precision    recall  f1-score   support

           0       0.75      0.72      0.73       109
           1       0.70      0.72      0.71        96

    accuracy                           0.72       205
   macro avg       0.72      0.72      0.72       205
weighted avg       0.72      0.72      0.72       205

### Logistic Regression

In [15]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()

In [16]:
logreg.fit(X_train,y_train)
y_pred=logreg.predict(X_test)

In [17]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(y_test,y_pred)

In [18]:
ac

0.8048780487804879

In [19]:
from sklearn.metrics import classification_report 

cr=classification_report(y_test,y_pred)

In [20]:
print(cr)

              precision    recall  f1-score   support

           0       0.88      0.73      0.80       109
           1       0.75      0.89      0.81        96

    accuracy                           0.80       205
   macro avg       0.81      0.81      0.80       205
weighted avg       0.82      0.80      0.80       205

### SVM     ----- Support vector machine

In [21]:
from sklearn.svm import SVC
svm=SVC()

In [22]:
svm.fit(X_train,y_train)
y_pred=svm.predict(X_test)

In [23]:
from sklearn.metrics import accuracy_score

ac=accuracy_score(y_test,y_pred)
print(ac)

0.697560975609756

In [24]:
from sklearn.metrics import classification_report

cr=classification_report(y_test,y_pred)
print(cr)

              precision    recall  f1-score   support

           0       0.80      0.58      0.67       109
           1       0.63      0.83      0.72        96

    accuracy                           0.70       205
   macro avg       0.72      0.71      0.70       205
weighted avg       0.72      0.70      0.69       205

### Decision Tree

In [25]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()

In [26]:
dt.fit(X_train,y_train)
y_pred=dt.predict(X_test)

In [27]:
from sklearn.metrics import accuracy_score

ac=accuracy_score(y_test,y_pred)
ac

1.0

In [28]:
from sklearn.metrics import classification_report

cr=classification_report(y_test,y_pred)
print(cr)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       109
           1       1.00      1.00      1.00        96

    accuracy                           1.00       205
   macro avg       1.00      1.00      1.00       205
weighted avg       1.00      1.00      1.00       205

### Random Forest

In [29]:
from sklearn.ensemble import RandomForestClassifier
re=RandomForestClassifier()

In [30]:
re.fit(X_train,y_train)
y_pred=re.predict(X_test)

In [31]:
from sklearn.metrics import accuracy_score

ac=accuracy_score(y_test,y_pred)
ac

1.0

In [32]:
from sklearn.metrics import classification_report

cr=classification_report(y_test,y_pred)
print(cr)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       109
           1       1.00      1.00      1.00        96

    accuracy                           1.00       205
   macro avg       1.00      1.00      1.00       205
weighted avg       1.00      1.00      1.00       205

### As we see via classification report the Desicion tree and Random Forest alorithm are overfitting to our data so avoid it for prediction.

### As we see via classification report Logistic Regression algorithm gives us best accuracy compare to KNN and SVM , so we are taking Logistic Regression algorithm for making prediction.

In [33]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [34]:
df.tail(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1015,58,1,0,128,216,0,0,131,1,2.2,1,3,3,0
1016,65,1,3,138,282,1,0,174,0,1.4,1,1,2,0
1017,53,1,0,123,282,0,1,95,1,2.0,1,2,3,0
1018,41,1,0,110,172,0,0,158,0,0.0,2,0,3,0
1019,47,1,0,112,204,0,1,143,0,0.1,2,0,2,1
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [35]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

# Predictive Model

In [43]:
def Heart_disease_predict():
    
    age=int(float(input('enter your age :')))
    sex=int(eval(input('enter your sex - 0 for Male , 1 for Female :')))
    cp=int(float(input('enter your cp  -  0 for no , 1 for yes :')))
    trestbps=int(float(input('enter your blood pressure :')))
    chol=int(float(input('enter your cholesterol :')))
    fbs=int(float(input('enter your frame per second - 0 for normal , 1 for no :')))
    restecg=int(float(input('enter your  Resting electrocardiographic measurement- 0 for normal , 1 for no :')))
    thalach=int(float(input('enter your maximum heart rate :')))
    exang=int(float(input('enter exercise include againa - 0 for no pain, 1 for pain :')))
    oldpeak= int(float(input('enter your oldpeak :')))
    slope=int(float(input('enter the ST :')))
    ca  = int(float(input('enter the calcium :')))
    thal=int(float(input('enter the maximum rate achived :')))
    
    new=[age, sex, cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal]
    v=logreg.predict([new])[0]
    
    if v==0:
        print('You Have A Heart Disease')
        return v 
    else:
        print('You Are Fitt')
        return v

In [44]:
Heart_disease_predict()

enter your age :21
enter your sex - 0 for Male , 1 for Female :0
enter your cp  -  0 for no , 1 for yes :0
enter your blood pressure :110
enter your cholesterol :115
enter your frame per second - 0 for normal , 1 for no :0
enter your  Resting electrocardiographic measurement- 0 for normal , 1 for no :0
enter your maximum heart rate :199
enter exercise include againa - 0 for no pain, 1 for pain :0
enter your oldpeak :1
enter the ST :1
enter the calcium :2
enter the maximum rate achived :1
You Are Fitt

1